.avatar {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 50%;
}

.nav {
  background-color: black;
}

a {
  text-decoration: none;
}

body {
  padding: 1em;
  background-color: linen;
}
